# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# API HOST
API_HOST=
API_PORT=

# Database configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

DB_URL="postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

# Redis configuration
REDIS_PASS=
REDIS_HOST=
REDIS_PORT=