export GOOGLE_CLIENT_ID=
export GOOGLE_CLIENT_SECRET=
export GOOGLE_REDIRECT_URL=
export NOTION_CLIENT_ID=
export NOTION_CLIENT_SECRET=
export NOTION_REDIRECT_URL=http://localhost:8080/
export BROKER_ADDRESS=http://localhost:19092
export WORKFLOW_API_PORT=9000
export CREDENTIAL_API_PORT=9001
export INFURA_ENDPOINT=